# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ConsoleApp11.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ACER\RiderProjects\ConsoleApp11\.idea\.idea.ConsoleApp11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
